<section class="vh-100" style="background-color: #ffc800;">
    
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
 
          <div class="row">
               <div class="col-md-2 text-center">
                <h1 style="font-size:90px;"><i class="bi bi-exclamation-triangle"></i></h1>
                    <p><b>Status Code: 403</b></p>
               </div>
               <div class="col-md-10">
                    <h3>OPPSSS!!!! Sorry...</h3>
                    <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>Please go back to the previous page to continue browsing.</p>
                    <a class="btn btn-danger" (click)="backClicked()">Go Back</a>
               </div>
          </div>
     </div>
</div>
</div>
</section>
     


