<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th class="text-center">Booking ID</th>
            <th class="text-center">Booking Details</th>
            <th class="text-center">Booking Amount</th>
            <th class="text-center">Booked on</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bkng of userbookings">
            <td class="text-center">{{bkng.bookingId}}</td>
            <td class="text-center">{{bkng.bookingDetails}}</td>
            <td class="text-center">{{bkng.bookingAmount | currency:'INR'}}</td>
            <td class="text-center">{{bkng.bookingStamp | date:'dd-MM-yyy hh:mm:ss'}}</td>
        </tr>
    </tbody>
</table>
