<div style="float:left;">
    <span><b>Your Cart Total:</b></span>
    <p>{{cart.totalprice | currency:"INR"}}</p>
    
</div>
<div style="float:right;">
    <button class="btn btn-success" *ngIf="cart.items.length>0" routerLink="checkout">Checkout</button>
</div>
<div class="clearfix"></div>
<div class="card" *ngFor="let item of cart.items">
    <div class="card-body">
        <div class="row">
            <table>
                <tr>
                    <th style="width:35%;">Title</th>
                    <th style="width:25%;">Quantity</th>
                    <th style="width:25%;">Price</th>
                    <th style="width:15%;">Action</th>
                </tr>
         <tr>
           <td style="width:35%;"> {{item.movie.title}}</td>
           <td style="width:25%;">{{item.quantity}}</td>
            <td style="width:25%;"> {{item.price | currency:"INR"}}</td>
            <td style="width:15%;"><a class="btn btn-danger btn-sm" (click)="removefromcart(item)"><i class="bi bi-x"></i></a></td>
        </tr>
        </table>
        </div>

    </div>
</div>
