<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="navbar-brand mb-0 h1">MyMoviePlan</span>
    </a>
</nav>

<div class="card" style="width:50rem; margin: 5px auto;">
    <h3 class="text-center">Your Booking Details:</h3>
    <h4 class="text-center">Your Booking ID:{{bookingID}}</h4>
    <ul class="list-group list-group-horizontal" *ngFor="let item of cart.items">
        <li class="list-group-item"><img src="/assets/movie/{{item.movie.imageUrl}}" class="img-fluid rounded" style="width:10rem;object-fit: cover;" alt="Responsive image"></li>
        <li class="list-group-item text-center" style="width:31%;"><h4 >{{item.movie.title}}</h4></li>
        <li class="list-group-item text-center" style="width:31%;">Total Tickets: {{item.quantity}}</li>
        <li class="list-group-item text-center" style="width:31%;">Price: {{item.price | currency:"INR"}}</li>
        
      </ul>
      <h5 style="text-align: right;">Total Booking Price: {{cart.totalprice | currency:"INR"}}</h5>
</div>
<p class="lead text-center">Thank you for choosing MyMoviePlan as your trusted booking partner. Excited to serve you again!!!</p>