
<app-navbar></app-navbar>
<div class="d-flex" style="margin-top:1rem;">
    <ul class="list-inline mx-auto justify-content-center">
        <li class="list-inline-item"><button class="btn btn-primary" routerLink="userlist">View Users Master</button></li>
        <li class="list-inline-item"><button class="btn btn-primary" routerLink="moviemaster">View Movie Master</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"routerLink="bookingsmaster">View Movie Bookings</button></li>
    </ul>
</div>
<router-outlet></router-outlet>