<div class="container">
    <button class="btn btn-success" routerLink="/signup">Add User</button>
    <table class="table table-bordered table-striped" >
    <thead class="table-dark">
        <tr>
        <th class="text-center">User ID</th>
        <th class="text-center">FULL NAME</th>
        <th class="text-center">USERNAME</th>
        <th class="text-center">E-MAIL</th>
        <th class="text-center">COUNTRY</th>
        <th class="text-center">ACTIONS</th>
    
    </tr>
</thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.uid}}</td>
        <td>{{user.firstName +' '+ user.lastName}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.country}}</td>
        <td class="text-center">
            <div class="btn-group" role="group">
            <button class="btn btn-danger" (click)="deleteUser(user.uid)"><i class="bi bi-trash"></i></button>
            <button class="btn btn-warning" (click)="navigateToDetails(user.userName)"><i class="bi bi-eye"></i></button>
            <button class="btn btn-success" (click)="navigateToUpdate(user.userName)">  <i class="bi bi-pencil-square"></i></button>
        </div>
        </td>
    </tr>
</tbody>
</table>

</div>